@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #efefef;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #ffffff;
		--foreground: #ededed;
	}
}

.bgex {
	background-color: hsla(0, 0%, 100%, 1);
	background-image: radial-gradient(
			at 100% 0%,
			hsla(264, 100%, 81%, 0.27) 0px,
			transparent 50%
		),
		radial-gradient(
			at 18% 13%,
			hsla(155, 100%, 74%, 0.46) 0px,
			transparent 50%
		),
		radial-gradient(
			at 70% 100%,
			hsla(172, 100%, 75%, 0.52) 0px,
			transparent 50%
		);
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
